// ==========================================================================
// Adpative setup
// ==========================================================================

// Break points
// ==========================================================================
@mobile-p-min: 0px;
@mobile-p-max: 479px;

@mobile-l-min: ( @mobile-p-max + 1 );
@mobile-l-max: 767px;

@tablet-min: ( @mobile-l-max + 1 );
@tablet-max: 959px;

@screen: "only screen and";

// Media Queries
// ==========================================================================
@mobile-p: ~"@{screen} (min-width: @{mobile-p-min}) and (max-width: @{mobile-p-max})";
@mobile-l: ~"@{screen} (min-width: @{mobile-l-min}) and (max-width: @{mobile-l-max})";
@tablet: ~"@{screen} (min-width: @{tablet-min}) and (max-width: @{tablet-max})";
@mobile: ~"@{screen} (min-width: @{mobile-p-min}) and (max-width: @{mobile-l-max})";
@not-desktop: ~"@{screen} (min-width: @{mobile-p-min}) and (max-width: @{tablet-max})";
// Retina
@retina: ~"@{screen} (-webkit-min-device-pixel-ratio: 2), @{screen} (min--moz-device-pixel-ratio: 2), @{screen} (-o-min-device-pixel-ratio: 2/1), @{screen} (min-device-pixel-ratio: 2), @{screen} (min-resolution: 192dpi), @{screen} (min-resolution: 2dppx)";