article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  overflow-y: scroll;
}
body {
  margin: 0;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url("/themes/heyday-boilerplate/css/boxsizing.htc");
}
.l-col-1 {
  display: inline;
  float: left;
  width: 84px;
}
.l-col-2 {
  display: inline;
  float: left;
  width: 168px;
}
.l-col-3 {
  display: inline;
  float: left;
  width: 252px;
}
.l-col-4 {
  display: inline;
  float: left;
  width: 336px;
}
.l-col-5 {
  display: inline;
  float: left;
  width: 420px;
}
.l-col-6 {
  display: inline;
  float: left;
  width: 504px;
}
.l-col-7 {
  display: inline;
  float: left;
  width: 588px;
}
.l-col-8 {
  display: inline;
  float: left;
  width: 672px;
}
.l-col-9 {
  display: inline;
  float: left;
  width: 756px;
}
.l-col-10 {
  display: inline;
  float: left;
  width: 840px;
}
.l-col-11 {
  display: inline;
  float: left;
  width: 924px;
}
.l-col-12 {
  display: inline;
  float: left;
  width: 1008px;
}
.l-push-1 {
  margin-left: 84px;
}
.l-push-2 {
  margin-left: 168px;
}
.l-push-3 {
  margin-left: 252px;
}
.l-push-4 {
  margin-left: 336px;
}
.l-push-5 {
  margin-left: 420px;
}
.l-push-6 {
  margin-left: 504px;
}
.l-push-7 {
  margin-left: 588px;
}
.l-push-8 {
  margin-left: 672px;
}
.l-push-9 {
  margin-left: 756px;
}
.l-push-10 {
  margin-left: 840px;
}
.l-push-11 {
  margin-left: 924px;
}
.l-pull-1 {
  margin-right: 84px;
}
.l-pull-2 {
  margin-right: 168px;
}
.l-pull-3 {
  margin-right: 252px;
}
.l-pull-4 {
  margin-right: 336px;
}
.l-pull-5 {
  margin-right: 420px;
}
.l-pull-6 {
  margin-right: 504px;
}
.l-pull-7 {
  margin-right: 588px;
}
.l-pull-8 {
  margin-right: 672px;
}
.l-pull-9 {
  margin-right: 756px;
}
.l-pull-10 {
  margin-right: 840px;
}
.l-pull-11 {
  margin-right: 924px;
}
.l-content {
  margin: 0 auto;
  display: block;
  float: none;
}
.l-padding {
  padding-left: 15px;
  padding-right: 15px;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #353535;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
  font-family: sans-serif;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
p {
  margin-top: 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em;
}
.t-main {
  color: #353535;
}
.t-main a {
  color: #00e;
}
.t-main a:visited {
  color: #551a8b;
}
.t-main a:hover {
  color: #06e;
}
.t-main a:focus {
  outline: thin dotted;
}
.t-main a:hover,
.t-main a:active {
  outline: 0;
}
.t-main h1 {
  font-size: 36px;
  line-height: 38px;
  color: #353535;
}
.t-main h2 {
  font-size: 24px;
  line-height: 28px;
  color: #0000ff;
}
.t-content ul {
  list-style-type: disc;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.frm-basic input,
.frm-basic select,
.frm-basic textarea {
  border: 1px solid #CFCFCF;
  padding: 4px 10px 2px;
}
.frm-basic input:focus,
.frm-basic select:focus,
.frm-basic textarea:focus {
  background-color: #F0F0F0;
  outline: 0;
}
.frm-basic input[type="checkbox"],
.frm-basic input[type="radio"] {
  border: 0;
}
.h-ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.h-ir br {
  display: none;
}
.h-hidden {
  display: none !important;
  visibility: hidden;
}
.h-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.h-visuallyhidden.h-focusable:active,
.h-visuallyhidden.h-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.h-invisible {
  visibility: hidden;
}
.h-clear {
  clear: both;
}
.h-clearfix {
  *zoom: 1;
}
.h-clearfix:before,
.h-clearfix:after {
  content: "";
  display: table;
}
.h-clearfix:after {
  clear: both;
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
