.h-ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */

  *text-indent: -9999px;
}
.h-ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.h-hidden {
  display: none !important;
  visibility: hidden;
}
.h-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.h-visuallyhidden.h-focusable:active,
.h-visuallyhidden.h-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.h-invisible {
  visibility: hidden;
}
.h-clear {
  clear: both;
}
.h-clearfix:before,
.h-clearfix:after {
  content: " ";
  display: table;
}
.h-clearfix:after {
  clear: both;
}
.h-clearfix {
  *zoom: 1;
}
.h-visible-phone {
  display: none !important;
}
.h-visible-tablet {
  display: none !important;
}
.h-hidden-desktop {
  display: none !important;
}
.h-visible-desktop {
  display: inherit !important;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .h-hidden-desktop {
    display: inherit !important;
  }
  .h-visible-desktop {
    display: none !important ;
  }
  .h-visible-tablet {
    display: inherit !important;
  }
  .h-hidden-tablet {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .h-hidden-desktop {
    display: inherit !important;
  }
  .h-visible-desktop {
    display: none !important;
  }
  .h-visible-phone {
    display: inherit !important;
  }
  .h-hidden-phone {
    display: none !important;
  }
}
